@use '../util/' as u;
@import '../globals/colors';

:root {
--fs--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --fs--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --fs-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --fs-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --fs-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}


.hero {
    color: #4D4F62;
    h1 {
        margin-top: 85px;
        font-size: var(--fs-2);
        font-weight: 200;
        opacity: 80%;
    }

    h2 {
        font-size: var(--fs-2);
        font-weight: 600;
        padding-bottom: 1rem;
        
    }

    p {
        font-size: var(--fs--1);
        letter-spacing: 0.1px;
        line-height: 1.5rem;
        opacity: 50%;
        font-weight: 400;
        margin-bottom: 85px;
    }

    @include u.breakpoint(large){
        h1 {
            font-size: var(--fs-3);
            
        }

        h2 {
            font-size: var(--fs-3);
        }

        p {
            line-height: 2rem;
        }

    }
}

